In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as graph
import seaborn as sns
import os

In [2]:
df = pd.read_csv('/mnt/c/Users/imrit/Downloads/IceFreeLakes_v1.3.1.csv')
display(df.head())
print(df.columns)

,lake,lakecode,start_year,FrozeYN,Latitude,Longitude,Hylak_id,Lake_name,Country,Continent,...,cld_lagSON,cld_DJF,cld_MAM,IceFree,log_Shore_dev,log_Elevation,log_Vol_total,log_Lake_area,log_Depth_avg,log_Shore_len
0,Lake Suwa,ARAI1,1443,Y,36.05,138.08,14842,NaN,Japan,Asia,...,NaN,NaN,NaN,0.0,0.075547,2.877947,1.999218,1.103804,0.897627,1.177825
1,Lake Suwa,ARAI1,1444,Y,36.05,138.08,14842,NaN,Japan,Asia,...,NaN,NaN,NaN,0.0,0.075547,2.877947,1.999218,1.103804,0.897627,1.177825
2,Lake Suwa,ARAI1,1445,Y,36.05,138.08,14842,NaN,Japan,Asia,...,NaN,NaN,NaN,0.0,0.075547,2.877947,1.999218,1.103804,0.897627,1.177825
3,Lake Suwa,ARAI1,1446,Y,36.05,138.08,14842,NaN,Japan,Asia,...,NaN,NaN,NaN,0.0,0.075547,2.877947,1.999218,1.103804,0.897627,1.177825
4,Lake Suwa,ARAI1,1447,Y,36.05,138.08,14842,NaN,Japan,Asia,...,NaN,NaN,NaN,0.0,0.075547,2.877947,1.999218,1.103804,0.897627,1.177825

Index(['lake', 'lakecode', 'start_year', 'FrozeYN', 'Latitude', 'Longitude',
       'Hylak_id', 'Lake_name', 'Country', 'Continent', 'Poly_src',
       'Lake_type', 'Grand_id', 'Lake_area', 'Shore_len', 'Shore_dev',
       'Vol_total', 'Vol_res', 'Vol_src', 'Depth_avg', 'Dis_avg', 'Res_time',
       'Elevation', 'Slope_100', 'Wshd_area', 'Pour_long', 'Pour_lat',
       'LIAG_mean_depth', 'LIAG_surface_area', 'LIAG_shoreline', 'latgrid',
       'longrid', 'MaxConsecutiveFreezingDays', 'TotalFreezingDays',
       'FreezingDegreeDays', 'tmp_lagJJA', 'tmp_lagSON', 'tmp_DJF', 'tmp_MAM',
       'pre_lagJJA', 'pre_lagSON', 'pre_DJF', 'pre_MAM', 'cld_lagJJA',
       'cld_lagSON', 'cld_DJF', 'cld_MAM', 'IceFree', 'log_Shore_dev',
       'log_Elevation', 'log_Vol_total', 'log_Lake_area', 'log_Depth_avg',
       'log_Shore_len'],
      dtype='object')

In [19]:
proportion_data = []
for lake_name in df['lake'].unique():
    df_lake = df[df['lake'] == lake_name]
    start_year, end_year, len_data = df_lake['start_year'].iloc[0], df_lake['start_year'].iloc[-1], len(df_lake)
    no_freeze = len(df_lake[df_lake['FrozeYN'] == 'N'])
    prop_no_freeze = no_freeze/len_data *100
    proportion_data.append([lake_name, start_year, end_year, len_data, no_freeze, prop_no_freeze])

In [23]:
proportion_df = pd.DataFrame(proportion_data)
proportion_df.rename(columns= {0: 'lake', 1: 'start_year_date', 2: 'end_year_date', 3: 'length_data', 
                               4: 'number_no_freeze', 5: 'proportion_no_freeze'}, inplace=True)
proportion_df = proportion_df.round(2)
proportion_df.head()

,lake,start_year_date,end_year_date,length_data,number_no_freeze,proportion_no_freeze
0,Lake Suwa,1443,2018,576,53,9.20
1,LAKE MJOSA - KISA-KAPP,1865,1996,132,28,21.21
2,Constance,874,2016,1143,1108,96.94
3,Sebago Lake,1806,2018,213,14,6.57
4,Big Green Lake,1939,2018,80,1,1.25

In [24]:
df_grouped = pd.DataFrame(df.groupby('lake').mean())
df_grouped = df_grouped.reset_index().round(2)
display(df_grouped)

,lake,start_year,Latitude,Longitude,Hylak_id,Lake_type,Grand_id,Lake_area,Shore_len,Shore_dev,...,cld_lagSON,cld_DJF,cld_MAM,IceFree,log_Shore_dev,log_Elevation,log_Vol_total,log_Lake_area,log_Depth_avg,log_Shore_len
0,Aegerisee,1954.0,47.87,13.55,13969.0,1.0,0.0,44.14,48.95,2.08,...,60.66,65.44,66.22,0.52,0.32,2.67,3.22,1.64,1.57,1.69
1,Baldeggersee,1954.0,47.20,8.26,169034.0,1.0,0.0,4.83,11.48,1.47,...,73.42,81.15,73.29,0.74,0.17,2.66,1.48,0.68,0.80,1.06
2,Bayfield,1937.5,46.81,-90.81,5.0,1.0,0.0,NaN,NaN,NaN,...,67.37,66.30,63.90,0.02,NaN,2.25,NaN,NaN,NaN,NaN
3,Bielersee,1959.0,47.08,7.17,14023.0,1.0,0.0,37.59,46.79,2.15,...,71.22,80.37,71.29,0.86,0.33,2.63,2.79,1.58,1.21,1.67
4,Big Green Lake,1978.5,43.80,-89.00,9039.0,2.0,1502.0,31.34,48.59,2.45,...,65.84,69.19,67.98,0.01,0.39,2.38,1.69,1.50,0.20,1.69
5,CHATEAGUAY (LOWER),1968.0,44.84,-74.04,109744.0,1.0,0.0,2.13,7.88,1.52,...,68.77,70.96,65.02,0.01,0.18,2.60,1.33,0.33,1.00,0.90
6,Constance,1445.0,47.67,9.22,1243.0,1.0,0.0,539.00,255.00,NaN,...,73.89,83.19,69.40,0.97,NaN,2.59,4.69,2.73,1.95,2.41
7,GREEN BAY AT MENOMINEE,1935.5,45.00,-87.64,6.0,1.0,0.0,NaN,NaN,NaN,...,67.60,70.76,66.53,0.01,NaN,2.24,NaN,NaN,0.95,NaN
8,Grand Traverse Bay,1933.0,44.75,-85.62,109864.0,2.0,1478.0,NaN,NaN,NaN,...,70.53,75.76,66.49,0.27,NaN,2.25,NaN,NaN,1.66,NaN
9,Greifensee,1959.0,47.35,8.68,168930.0,1.0,0.0,7.76,15.62,1.58,...,73.94,81.21,72.71,0.55,0.20,2.64,1.70,0.89,0.81,1.19
10,Gull Lake,1971.0,42.40,-85.41,111349.0,1.0,0.0,8.16,20.54,2.03,...,67.75,77.73,68.80,0.03,0.31,2.43,1.84,0.91,0.93,1.31
11,Hallwilersee,1954.0,47.28,8.22,168968.0,1.0,0.0,9.41,17.86,1.64,...,73.42,81.15,73.29,0.78,0.21,2.65,2.15,0.97,1.17,1.25
12,LAKE CHAMPLAIN,1916.5,44.50,-73.33,64.0,1.0,0.0,1141.30,975.72,8.15,...,68.76,72.33,68.14,0.21,0.91,1.45,4.41,3.06,1.35,2.99
13,LAKE GENEVA,1940.0,42.57,-88.50,9110.0,2.0,1538.0,21.35,32.71,2.00,...,63.97,69.37,67.89,0.03,0.30,2.42,1.69,1.33,0.36,1.51
14,LAKE MJOSA - KISA-KAPP,1930.5,60.76,10.83,1152.0,3.0,3117.0,364.81,340.30,5.03,...,68.23,64.66,60.82,0.22,0.70,2.04,4.46,2.56,1.90,2.53
15,LAKE MUEGGELSEE,1996.0,52.43,13.65,165102.0,1.0,0.0,6.98,10.66,1.14,...,74.29,84.56,67.08,0.07,0.06,1.48,1.68,0.84,0.84,1.03
16,Lac de Joux,1994.5,46.64,6.28,169409.0,1.0,0.0,8.33,21.05,2.06,...,68.39,78.24,69.11,0.07,0.31,3.00,2.24,0.92,1.32,1.32
17,Lake Balaton,1950.5,46.90,18.00,1251.0,1.0,0.0,577.21,203.94,2.39,...,62.90,78.29,63.68,0.08,0.38,2.00,3.28,2.76,0.52,2.31
18,Lake George,1962.5,43.83,-73.43,767.0,2.0,2127.0,113.39,173.46,4.60,...,68.20,71.40,69.12,0.11,0.66,2.00,3.44,2.05,1.39,2.24
19,Lake Suwa,1730.5,36.05,138.08,14842.0,1.0,0.0,12.70,15.06,1.19,...,69.39,57.09,67.13,0.09,0.08,2.88,2.00,1.10,0.90,1.18
20,Lunz,1961.0,47.85,15.05,1348383.0,1.0,0.0,0.48,3.34,1.36,...,60.82,68.24,64.76,0.02,0.13,2.78,0.64,-0.32,0.95,0.52
21,Murtensee,1959.0,46.93,7.07,14029.0,1.0,0.0,21.61,20.77,1.26,...,67.92,75.49,70.57,0.75,0.10,2.63,2.32,1.33,0.99,1.32
22,NEHMITZSEE,1988.5,53.13,12.99,1325718.0,1.0,0.0,0.80,6.61,2.08,...,74.01,83.90,66.65,0.11,0.32,1.77,0.65,-0.10,0.75,0.82
23,Oneida Lake,1922.0,43.24,-76.14,770.0,3.0,1517.0,206.85,112.71,2.21,...,70.81,78.38,68.11,0.01,0.34,2.05,3.36,2.32,1.05,2.05
24,Otsego,1930.0,42.75,-74.89,9102.0,2.0,2174.0,16.30,29.88,2.09,...,69.66,74.42,70.29,0.02,0.32,2.56,2.63,1.21,1.42,1.48
25,Pfäffikersee,1959.0,47.35,8.78,168948.0,1.0,0.0,2.91,7.42,1.23,...,73.94,81.21,72.71,0.23,0.09,2.73,1.16,0.46,0.70,0.87
26,Ransfjorden,1886.5,60.58,10.32,1153.0,1.0,0.0,138.88,200.69,4.80,...,66.97,63.33,61.31,0.05,0.68,2.10,3.93,2.14,1.78,2.30
27,Sarnersee,1954.0,46.87,8.22,169223.0,1.0,0.0,7.21,14.22,1.49,...,73.42,81.15,73.29,0.84,0.17,2.67,2.03,0.86,1.17,1.15
28,Sebago Lake,1912.0,43.87,-70.57,766.0,2.0,2126.0,118.75,122.53,3.17,...,63.25,65.92,67.25,0.08,0.50,1.90,2.68,2.07,0.60,2.09
29,Sempachersee,1959.0,47.14,8.15,14020.0,1.0,0.0,13.77,18.39,1.40,...,73.42,81.15,73.29,0.86,0.15,2.70,2.05,1.14,0.91,1.26
30,Untersee,1954.0,47.70,9.02,1243.0,1.0,0.0,29.30,NaN,NaN,...,73.74,83.18,69.37,0.69,NaN,2.59,2.75,1.47,1.28,NaN

In [29]:
merged_columns = ['lake', 'Latitude', 'Longitude', 'Hylak_id', 'Lake_type',
       'Grand_id', 'Lake_area', 'Shore_len', 'Shore_dev', 'Vol_total',
       'Vol_res', 'Vol_src', 'Depth_avg', 'Dis_avg', 'Res_time', 'Elevation',
       'Slope_100', 'Wshd_area', 'LIAG_mean_depth',
       'LIAG_surface_area', 'LIAG_shoreline', 'start_year_date', 'end_year_date', 'length_data', 'number_no_freeze',
       'proportion_no_freeze']

In [33]:
merged_df = pd.merge(df_grouped, proportion_df)
merged_df = merged_df[merged_columns]
display(merged_df.head())
merged_df.to_csv('/mnt/c/Users/imrit/Downloads/Sapna_sharma_lab/Permanent_ice_loss/Lake_characteristics.csv', index=False)

,lake,Latitude,Longitude,Hylak_id,Lake_type,Grand_id,Lake_area,Shore_len,Shore_dev,Vol_total,...,Slope_100,Wshd_area,LIAG_mean_depth,LIAG_surface_area,LIAG_shoreline,start_year_date,end_year_date,length_data,number_no_freeze,proportion_no_freeze
0,Aegerisee,47.87,13.55,13969.0,1.0,0.0,44.14,48.95,2.08,1654.69,...,8.23,467.9,NaN,NaN,NaN,1890,2018,129,60,46.51
1,Baldeggersee,47.20,8.26,169034.0,1.0,0.0,4.83,11.48,1.47,30.48,...,2.49,72.2,NaN,NaN,NaN,1890,2018,129,95,73.64
2,Bayfield,46.81,-90.81,5.0,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,209219.5,-999.0,-999.0,-999.0,1857,2018,162,4,2.47
3,Bielersee,47.08,7.17,14023.0,1.0,0.0,37.59,46.79,2.15,617.78,...,4.16,7858.1,NaN,NaN,NaN,1900,2018,119,90,75.63
4,Big Green Lake,43.80,-89.00,9039.0,2.0,1502.0,31.34,48.59,2.45,49.30,...,3.33,257.9,NaN,NaN,NaN,1939,2018,80,1,1.25

In [12]:
columns_to_drop = ['start_year', 'Hylak_id', 'Lake_type', 'Grand_id', 'MaxConsecutiveFreezingDays', 'TotalFreezingDays', 
                   'FreezingDegreeDays']
df_grouped.drop(columns=columns_to_drop, inplace=True)

In [17]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=4, random_state=0).fit(df_grouped[1:])

ValueError: could not convert string to float: 'Untersee'

In [25]:
df_grouped[1:]

,lake,Latitude,Longitude,Lake_area,Shore_len,Shore_dev,Vol_total,Vol_res,Vol_src,Depth_avg,...,cld_lagSON,cld_DJF,cld_MAM,IceFree,log_Shore_dev,log_Elevation,log_Vol_total,log_Lake_area,log_Depth_avg,log_Shore_len
1,Baldeggersee,47.200300,8.260000,4.83,11.48,1.47,30.48,0.0,3.0,6.3,...,73.416103,81.145482,73.292374,0.742188,0.167317,2.662758,1.484015,0.683947,0.799341,1.059942
2,Bayfield,46.810000,-90.810000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.367516,66.298871,63.899436,0.024691,NaN,2.252853,NaN,NaN,NaN,NaN
3,Bielersee,47.081100,7.169600,37.59,46.79,2.15,617.78,0.0,3.0,16.4,...,71.224858,80.366668,71.290680,0.857143,0.332438,2.628389,2.790834,1.575072,1.214844,1.670153
4,Big Green Lake,43.800000,-89.000000,31.34,48.59,2.45,49.30,49.3,2.0,1.6,...,65.835001,69.188751,67.975418,0.012500,0.389166,2.383815,1.692847,1.496099,0.204120,1.686547
5,CHATEAGUAY (LOWER),44.840000,-74.040000,2.13,7.88,1.52,21.30,0.0,3.0,10.0,...,68.771234,70.957992,65.019179,0.014085,0.181844,2.597695,1.328380,0.328380,1.000000,0.896526
6,Constance,47.670000,9.220000,539.00,255.00,NaN,48510.00,NaN,NaN,90.0,...,73.893392,83.194830,69.403736,0.971078,NaN,2.593286,4.685831,2.731589,1.954243,2.406540
7,GREEN BAY AT MENOMINEE,45.000000,-87.640000,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,67.599539,70.762964,66.525927,0.013514,NaN,2.243038,NaN,NaN,0.954243,NaN
8,Grand Traverse Bay,44.750000,-85.620000,NaN,NaN,NaN,NaN,NaN,NaN,46.0,...,70.529886,75.760634,66.485059,0.265060,NaN,2.250420,NaN,NaN,1.662758,NaN
9,Greifensee,47.347800,8.679300,7.76,15.62,1.58,50.25,0.0,3.0,6.5,...,73.941245,81.211301,72.712714,0.554622,0.198657,2.636488,1.701136,0.889862,0.812913,1.193681
10,Gull Lake,42.400000,-85.410000,8.16,20.54,2.03,69.76,0.0,3.0,8.5,...,67.745264,77.732984,68.800001,0.031579,0.307496,2.426511,1.843606,0.911690,0.929419,1.312600
11,Hallwilersee,47.277200,8.217300,9.41,17.86,1.64,140.17,0.0,3.0,14.9,...,73.416103,81.145482,73.292374,0.781250,0.214844,2.648360,2.146655,0.973590,1.173186,1.251881
12,LAKE CHAMPLAIN,44.500000,-73.330000,1141.30,975.72,8.15,25800.00,0.0,1.0,22.6,...,68.759041,72.332487,68.137572,0.205882,0.911158,1.447158,4.411620,3.057400,1.354108,2.989325
13,LAKE GENEVA,42.570000,-88.500000,21.35,32.71,2.00,49.30,49.3,2.0,2.3,...,63.974859,69.373165,67.893221,0.025478,0.301030,2.421604,1.692847,1.329398,0.361728,1.514681
14,LAKE MJOSA - KISA-KAPP,60.760000,10.830000,364.81,340.30,5.03,29025.40,1300.0,3.0,79.6,...,68.230904,64.662502,60.823265,0.224000,0.701568,2.037426,4.462778,2.562067,1.900913,2.531862
15,LAKE MUEGGELSEE,52.430000,13.650000,6.98,10.66,1.14,47.99,0.0,3.0,6.9,...,74.290246,84.556912,67.079676,0.073171,0.056905,1.477121,1.681151,0.843855,0.838849,1.027757
16,Lac de Joux,46.638000,6.284000,8.33,21.05,2.06,175.57,0.0,3.0,21.1,...,68.390581,78.242030,69.114494,0.066667,0.313867,3.000868,2.244450,0.920645,1.324282,1.323252
17,Lake Balaton,46.900722,17.996107,577.21,203.94,2.39,1900.00,0.0,1.0,3.3,...,62.898564,78.294254,63.683334,0.080645,0.378398,2.000000,3.278754,2.761334,0.518514,2.309502
18,Lake George,43.830000,-73.430000,113.39,173.46,4.60,2775.30,2775.3,2.0,24.5,...,68.197323,71.401787,69.123811,0.107143,0.662758,1.995635,3.443310,2.054575,1.389166,2.239199
19,Lake Suwa,36.050000,138.080000,12.70,15.06,1.19,99.82,0.0,3.0,7.9,...,69.394352,57.094916,67.127402,0.092982,0.075547,2.877947,1.999218,1.103804,0.897627,1.177825
20,Lunz,47.853700,15.051600,0.48,3.34,1.36,4.32,0.0,3.0,9.0,...,60.820060,68.240414,64.758998,0.018692,0.133539,2.781037,0.635484,-0.318759,0.954243,0.523746
21,Murtensee,46.927600,7.074000,21.61,20.77,1.26,210.23,0.0,3.0,9.7,...,67.916668,75.488419,70.571471,0.747899,0.100371,2.626340,2.322695,1.334655,0.986772,1.317436
22,NEHMITZSEE,53.130000,12.990000,0.80,6.61,2.08,4.49,0.0,3.0,5.6,...,74.014882,83.895240,66.654168,0.105263,0.318063,1.770852,0.652246,-0.096910,0.748188,0.820201
23,Oneida Lake,43.240000,-76.140000,206.85,112.71,2.21,2296.12,315.0,3.0,11.1,...,70.812431,78.383617,68.108758,0.005348,0.344392,2.049218,3.360995,2.315656,1.045323,2.051962
24,Otsego,42.750000,-74.890000,16.30,29.88,2.09,425.90,425.9,2.0,26.1,...,69.661865,74.416103,70.290680,0.016949,0.320146,2.562293,2.629308,1.212188,1.416641,1.475381
25,Pfäffikersee,47.350800,8.782400,2.91,7.42,1.23,14.44,0.0,3.0,5.0,...,73.941245,81.211301,72.712714,0.225225,0.089905,2.727541,1.159567,0.463893,0.698970,0.870404
26,Ransfjorden,60.578600,10.316700,138.88,200.69,4.80,8462.19,0.0,3.0,60.9,...,66.972990,63.333622,61.312070,0.048309,0.681241,2.096910,3.927483,2.142640,1.784617,2.302526
27,Sarnersee,46.869800,8.220600,7.21,14.22,1.49,107.68,0.0,3.0,14.9,...,73.416103,81.145482,73.292374,0.844961,0.173186,2.669317,2.032135,0.857935,1.173186,1.152900
28,Sebago Lake,43.870800,-70.566900,118.75,122.53,3.17,473.60,473.6,2.0,4.0,...,63.253108,65.924860,67.250283,0.078212,0.501059,1.903090,2.675412,2.074634,0.602060,2.088242
29,Sempachersee,47.144100,8.154900,13.77,18.39,1.40,112.61,0.0,3.0,8.2,...,73.416103,81.145482,73.292374,0.857143,0.146128,2.698970,2.051577,1.138934,0.913814,1.264582
30,Untersee,47.695700,9.023200,29.30,NaN,NaN,559.63,NaN,NaN,19.1,...,73.743504,83.175708,69.371469,0.689922,NaN,2.593286,2.747901,1.466868,1.281033,NaN

In [41]:
df = pd.read_csv('/mnt/c/Users/imrit/Desktop/Hypothesis_MS/Analysis/Ice_hypothesis_ms_detrended_multiple_linear_regressions_top_model_per_lake.csv')
df.head()

,lake,response_variable,model,year_r2,adj_r2,total_r2,AIC,Variance_partitioning,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Auburn,Ice_off,y = -27.6 + 2*SOI mean A-DEC + 3.4*AO mean A-D...,0.043023,0.467911,0.510934,467.690809,SOI=5.28; AO=2.21; NAO_DJFM=4.01; tmp_DJF=18.9...,NaN,NaN,NaN
1,Bayfield,Duration,y = -105 + 2.2*AO mean A-DEC + 1.7*NAO DJFM - ...,0.294918,0.670953,0.965871,571.094330,AO=1.94; NAO_DJFM=1.82; tmp_DJF=60.95; tmp_MAM...,NaN,NaN,NaN
2,Bayfield,Ice_off,y = -24 + 0.1*QBO mean A-DEC + 0.8*NAO DJFM - ...,0.204151,0.669981,0.874132,484.543958,QBO=1.1; NAO_DJFM=0.11; tmp_DJF=52.72; tmp_MAM...,NaN,NaN,NaN
3,Bayfield,Ice_on,y = -28 - 3*AO mean A-DEC + 5.3*tmp_DJF + 4.2*...,0.269304,0.567000,0.836304,552.903020,AO=2.37; tmp_DJF=44.03; tmp_lagSON=9.26; co2=3...,NaN,NaN,NaN
4,Cazenovia,Duration,y = -54 + 4.4*SOI mean A-DEC - 5.2*AO mean A-D...,0.058591,0.473708,0.532299,559.577977,SOI=2.25; AO=5.02; NAO_DJFM=4.13; tmp_DJF=32.1...,NaN,NaN,NaN

In [58]:
df['model_params'] = df['model'].str.replace('mean A-DEC', '')
df['model_params'] = df['model_params'].str.replace('NAO DJFM', 'NAO_DJFM')
df['model_params'] = df['model_params'].str.replace('\d+.', '')
df['model_params'] = df['model_params'].str.replace('y=', '')
df['model_params'] = df['model_params'].str.replace('y = ', '')
df['model_params'] = df['model_params'].str.replace('global_merged_', 'co2')
df['model_params'] = df['model_params'].str.replace("co2coannual (ppm)", 'co2')

df.head()
# df.to_csv('/mnt/c/Users/imrit/Desktop/ice_detrended_multi_linear_regression_params.csv', index=False)